span{
    color: lightgreen;
    margin: auto;
    font-size: 12px;
    position: absolute;
    left: 670px;
    top: 430px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}